<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>London Geochronology Centre - {{appname}}</title>
<link href="{{ url_for('static',filename='css/text.css') }}" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script>

setInterval(getstatusdata, 1000);

async function getstatusdata() {
  const response = await fetch("/statusdata");
  const statusdata = await response.json();
  var idtoupdate = document.getElementById('123-cpu');
  idtoupdate.innerHTML = statusdata.cputemperature;
  var idtoupdate = document.getElementById('123-xpos');
  idtoupdate.innerHTML = statusdata.xpos;
  var idtoupdate = document.getElementById('123-ypos');
  idtoupdate.innerHTML = statusdata.ypos;
  var idtoupdate = document.getElementById('123-xminlimswitch');
  idtoupdate.innerHTML = statusdata.xminswitch;
  var idtoupdate = document.getElementById('123-xmaxlimswitch');
  idtoupdate.innerHTML = statusdata.xmaxswitch;
  var idtoupdate = document.getElementById('123-yminlimswitch');
  idtoupdate.innerHTML = statusdata.yminswitch;
  var idtoupdate = document.getElementById('123-ymaxlimswitch');
  idtoupdate.innerHTML = statusdata.ymaxswitch;
}

</script>
</head>
<body onload="getstatusdata()">
	  <section class="banner">
		  <div >
              <P class="logo">London Geochronology Centre - {{appname}} - Server Status &nbsp CPU <strong id="123-cpu">awaiting-data</strong>&deg;C</P>
              <p class="breadcrumbtext"><a href = "/" class="breadcrumblink">Return to index</a> &nbsp|&nbsp
              <a href = "/pylog" class="breadcrumblink">Application Log</a> &nbsp|&nbsp
              <a href = "/guaccesslog" class="breadcrumblink">Website Access Log</a> &nbsp|&nbsp
              <a href = "/guerrorlog" class="breadcrumblink">Website Error Log</a> &nbsp|&nbsp
              <a href = "/syslog" class="breadcrumblink">System Log</a></p><br>
          </div>
  </section>
<section class="container2">
    <p class="sectiontext"> X-Y Stage Status</p>
      <table>
            <tr>
                    <td class="tabledataleft">X Position</td>
                    <td class="tabledataleft" id="123-xpos">awaiting-data</td>
            </tr>
            <tr>
                    <td class="tabledataleft">Y Position</td>
                    <td class="tabledataleft" id="123-ypos">awaiting-data</td>
            </tr>
            <tr>
                    <td class="tabledataleft">X minimum limit switch</td>
                    <td class="tabledataleft" id="123-xminlimswitch">awaiting-data</td>
            </tr>
            <tr>
                    <td class="tabledataleft">X maximum limit switch</td>
                    <td class="tabledataleft" id="123-xmaxlimswitch">awaiting-data</td>
            </tr>
            <tr>
                    <td class="tabledataleft">Y minimum limit switch</td>
                    <td class="tabledataleft" id="123-yminlimswitch">awaiting-data</td>
            </tr>
            <tr>
                    <td class="tabledataleft">Y maximum limit switch</td>
                    <td class="tabledataleft" id="123-ymaxlimswitch">awaiting-data</td>
            </tr>

         {% for thread in threads %}
             <tr>
                    <td class="tabledataleft">{{thread[0]}}</td>
                    <td class="tabledataleft">{{thread[1]}}</td>

                </tr>
         {% endfor %}
      </table>
    <p>&nbsp</p>
 	</section>
  <section class="banner">
 <div class ="copyright"><strong>Software Version</strong> {{version}}<br>&copy;2025 - <strong>London Geochronology Centre</strong></div>
	  </section>
</body>
</html>
